<div style="background-color: beige; margin: auto; width: 50%;">
    <h1 style="text-align: center;">Button Apps</h1>
    <div style="margin: auto; width: 80%;">
        <button (click)="btnClick1()" style="width: 25%;">Bottone 1</button>
        <button (click)="btnClick2()" style="width: 25%;">Bottone 2</button>
        <button (click)="btnClick3()" style="width: 25%;">Bottone 3</button>
        <button (click)="btnClick4()" style="width: 25%;">Bottone 4</button>
        <app-figlio [lastBtn]="btnList[btnList.length - 1]" [historyBtn]="btnList"></app-figlio>
        <br>
    </div>
</div>
